
.linked-in-image
{
  height:30px;
  width: 30px;
  margin-top: 10px;
  margin-left: 10px;
}


.skillsGrid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  grid-auto-rows: auto;
  height: auto
}
.skillsGrid img {
height: 150px;
width: 150px;
}
.skills{
background-color: whitesmoke;
display: flex;
flex-direction: column;
margin-left: auto;
margin-right: auto;
text-align: center;
justify-content: center;
align-items: center;
height: 100vh;
}

.contact-container
{
  display:flex;
  justify-content: center;
}
.contact-info
{
  background-color: #f8f9fa;
  display: flex;

}

.contact-direct
{
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form-container
{
  background-color: inherit;
  width:50%;
}

